/*
 * All inputs and textareas
 */

input,
textarea {
  display: block;
  border: none;
  outline: none;
  margin: 0.25em 0;
  padding: 0.5em 0.75em;
  font-size: 0.8rem;
  color: var(--white);
  background: var(--black);
}

input::selection,
textarea::selection {
  color: var(--black);
  background: var(--gray-medium);
}

/*
 * Monospace font inputs
 */

input[type="number"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"] {
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
}

/*
 * Full width inputs
 */

input[type=text],
textarea {
  width: 100%;
  min-width: 30em;
}

/*
 * Number inputs
 */

input[type="number"] {
  width: 5em;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/*
 * Range inputs
 */

input[type="range"] {
  width: 30em;
  height: 0.8em;
  padding: 0;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  width: 0.75em;
  height: 1.5em;
  background: var(--white);
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
  width: 0.75em;
  height: 1.5em;
  border-radius: 0;
  background: var(--white);
}

/*
 * Checkbox inputs
 */

input[type="checkbox"] {
  display: inline-block;
  padding: 1em;
  appearance: none;
  webkit-appearance: none;
}

input[type="checkbox"]:checked {
  background-color: var(--green-medium);
}

/*
 * Color inputs
 */

input[type="color"] {
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  border: 2px solid var(--gray-light);
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

input[type="color"]::-moz-color-swatch {
  border: none;
}
