select {
    display: block;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 0.25em 0;
    padding: 0 1em;
    line-height: 2.5em;
    color: var(--white);
    background-color: var(--gray-medium);
  }
  
  select:hover {
    background-color: var(--gray-light);
  }
  
  select:active {
    background-color: var(--blue);
  }
  