html {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: var(--gray-light);
  background-color: var(--gray-dark);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Manrope VF', sans-serif;
  }
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:focus {
	outline: 0;
}

::selection {
  color: var(--black);
  background-color: var(--gray-medium);
}

.selected{
  background-color: var(--blue);
}

/* The dialog (background) */
dialog {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: fit-content; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--gray-dark);
  -webkit-text-fill-color: white;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: var(--gray-light);
  width: 80%; /* Could be more or less, depending on screen size */
}

dialog::backdrop{
  background-color: var(--black);
  opacity: 0.6;
}

.dialog-buttons{
  padding-top: 20px;
  display: flex;
  gap: 10px;
}

.dialog-titlebar {
  background-color: var(--gray-medium);
  -webkit-text-fill-color: var(--green-vibrant);
  text-align: center;
  height: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
  width: auto;
  box-sizing: border-box;
  position: absolute;
  margin: -20px;
  top: 20px;
  width: 100%;
}

.dialog-content {
  margin-top: 40px;
}
