table {
  white-space: nowrap;
  border-spacing: 0;
  border: none;
}

td {
  padding-right: 1.5em;
  vertical-align: center;
}

td:last-child {
  padding-right: 0;
}

/*
 * Nested tables
 */

table table td {
  padding-right: 1em;
}
