table {
  white-space: normal;
  border-spacing: 0;
  border: none;
  max-width: 800px;
}

td {
  padding-right: 1.5em;
  vertical-align: center;
  min-width: 300px;
}

td:last-child {
  padding-right: 0;
}

/*
 * Nested tables
 */

table table td {
  padding-right: 1em;
  font-size: 0.95rem;
  font-weight: 300;
 
}

tbody>tr>:nth-child(2){ 
  display: inline-table;
}



